<ul class="nav nav-tabs gy">
	<li  class="btn btn-info animated bounceInLeft gy" >
		<a href="html/login.html"> 
		<span class="glyphicon glyphicon-th gy" >&nbsp;</span>
			Log-in</a>
	</li>
	<li class="btn btn-info animated bounceInLeft gy" >
		<a href="/">
		<span class="glyphicon glyphicon-plus-sign gy">&nbsp;</span>
		Alta
		</a>
		</li>
	<li  class="btn btn-info animated bounceInLeft gy" >
		<a href="html/grilla.html"> 
		<span class="glyphicon glyphicon-th gy" >&nbsp;</span>
		Grilla</a>
	</li>
</ul>