<tr >
 <td>%photo%</td>
 <td>%firstName%</td>
 <td>%lastName%</td>
 <td>%gender%</td>
 <td>%birthday%</td>
 <td>%address%</td>
 <td>%email%</td>
 <td>%summary%</td>
 <td>
 	<a class='btn btn-danger' name='Modificar' href="editar.html?id=%id%" data-id="%id%"  id="Editar"><span class='glyphicon glyphicon-edit'></span>Modificar</a></td>
 <td>
	<a class='btn btn-warning' name='ver_usuario' href="verUsuario.html?id=%id%" data-id="%id%" id="ver"><span class='glyphicon glyphicon-user'></span>Ver Usuario</a>
 </td>
</tr>