<div class="container">
		<h3>Experiencia:</h3>
</div>
	<div class="table-responsive">
	<table class="table table-hover" id="listaPersonas">
		<ul>
			<li>Lugar de trabajo: %lugarTrabajo%</li>				
			<li>Puesto: %cargoTrabajo%</li>
			<li>Fecha de inicio: %fechaInicioTrabajo%</li>
			<li>Fecha fin: %fechaFinTrabajo%</li>
			<li>Foto: %fotoTrabajo%</li>
			<li>Información de trabajo: %infoTrabajo%</li>
			<li><a class='btn btn-warning' name='Editar' href="../html/editarExperiencia.html?id=%id%&pos=%pos%" data-id="%id%" id="Editar"><span class='glyphicon glyphicon-edit'></span> Editar</a></li>
			<li><a class='btn btn-danger' name='Borrar' href="#" data-id="%id%" id="ver"><span class='glyphicon glyphicon-remove'></span> Borrar</a></li>
			<li>---------------------------------------------</li>
		</ul>
		<tbody>

		</tbody>
	</table>
	</div>
