	<div class="container">
		<div class="row">
			<div class="col-xs-3 a">
				<div class="primera">
					<img class="Img-responsive foto" src="/img/foto.jpg">
					<div class="nom"><h3> %firstName% %lastName%</h3></div><br>
					<p>@%firstName%</p>
					<p>Web designer at TeamIronman</p>
				</div>
				<div class="segunda">
					<p>Let's disign your joomla website with TeamPLaza! Utility, easy-customizability, friendly-to-user are our first priority<p>
					</div>
					<div class="datos">
						<span class="glyphicon g glyphicon-map-marker"></span>%address%
					</div>
					<div class="datos">
						<span class="glyphicon g glyphicon-envelope"></span>%email%
					</div>	
				</div>

				<div class="col-xs-1 b"><ul class="nav nav-pills nav-stacked">
					<li class="boton"><a class="glyphicon g glyphicon-user " href="#" ><br><p class ="pi">About me</P></a></li>
					<li class="boton"><a class="glyphicon g glyphicon-briefcase" href="#"><br><p class ="pi">Experience</p></a></li>
					<li class="boton"><a class="glyphicon g glyphicon-map-marker " href="#"><br><p class ="pi">Location</p></a></li>
					<li class="boton"><a class="glyphicon g glyphicon-globe " href="#"><br><p class ="pi">Map</p></a></li>
				</ul>
			</div>

			<div class="col-xs-8 c">
				<br>
				<h1> HI THERE!</h1>
				<br>
				<br>
				<p>Hi! My name is Sara, I'm a create desugner and developer at TeamIronman. I enjoy creating eye candy solutions for web and mobile applications. I'd love to work on yours, too :) <br>
					<br>
					TemPlaza, the website built and improved by Sunland.,jsc. We supply...
				</p>
			</div>
		</div>
	</div>
	