<div class="container">
 <div class="row">
  <div class="col-xs-3 a">
   <div class="primera">
    <img class="Img-responsive foto" src="/img/foto.jpg">
    <div class="nom"><h3> %firstName% %lastName%</h3></div><br>
    <p>@%firstName%</p>
    <p>%experience%</p>
   </div>
   <div class="segunda">
    <p>%summary%<p>
    </div>
    <div class="datos">
     <span class="glyphicon g glyphicon-map-marker"></span>%coordinate%
    </div>
    <div class="datos">
     <span class="glyphicon g glyphicon-envelope"></span>%email%
    </div> 
   </div>

   <div class="col-xs-1 b"><ul class="nav nav-pills nav-stacked">
    <li class="boton" id="about"><a class="glyphicon g glyphicon-user aboutMe" href="#" ><br><p class ="pi">About me</P></a></li>
    <li class="boton" id = "experience"><a class="glyphicon g glyphicon-briefcase " id = "experience" href="#"><br><p class ="pi">Experience</p></a></li>
    <li class="boton" id = "location"><a class="glyphicon g glyphicon-map-marker location" href="#"><br><p class ="pi">Location</p></a></li>
    <li class="boton" id="mapa"><a class="glyphicon g glyphicon-globe map" href="#"><br><p class ="pi">Map</p></a></li>
   </ul>
  </div>

  <div class="col-xs-8 c">
   <div class="template-about" id="template-about">
   <div class="template-Map" id="template-Map">



  </div>
 </div>
</div>